h1 {
    color: darkkhaki;
    font-family: 'Indie Flower', cursive;
}

h2 { color:aqua;
    font-family: 'Indie Flower', cursive;
}


h3 {color:blueviolet;
}

h4 {
    color: forestgreen;
}
p {
    color: brown;
    font-size: 1.5 em;
   

}